{% extends 'products/base.html' %}

{% block title %}
	Add product
{% endblock %}

{% block body %}
	<h2>Add new product</h2>
	<form method="post" class="my-3">
		<div class="form-group">
			<label for="product-name">Product Name</label>
			<input type="text" class="form-control" id="product-name" name="product-name" required>
		</div>

		<button type="submit" class="btn btn-primary btn-block my-3">Add product!</button>
	</form>
	<a href="{{ url_for('products_app.list') }}">Back to list</a>
{% endblock %}