{% extends 'products/base.html' %}

{% block title %}
	Products List
{% endblock %}

{% block body %}
	<h2>Products List</h2>
	{{ request.host }}
		<ul>
			{% for product in products %}
				<li>#{{ product_id }} -
					<a href="{{ url_for('products_app.details', product_id=product.id) }}">
						 {{- product.name -}}
					</a>
                    {%- if product.is_new %}
                        <span class="badge badge-secondary">New</span>
                    {% endif %}
				</li>
			{% endfor %}
		</ul>
	<a href="{{ url_for('products_app.add') }}">Add new product!</a>

{% endblock %}